/*  
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
---------------ICONS AND TOOLTIPS---------------
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& 
*/


form {
    margin: 0 auto;
}


input {
    width: 200px;
    height: 40px;
}