/*  
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
------------------SIDE PANEL--------------------
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& 
*/

aside {
    width: 17%;
    position: absolute;
    border: 1px solid darkgrey;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 15px;
    padding: 15px;
    box-shadow: 3px 4px 10px #c2c2a3;
}


aside ul {
    list-style: none;
}


aside li {
    margin-bottom: 5px;
    border-bottom: 1px solid darkgrey;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    &:active {
        opacity: 1;
        background-color: cornsilk;
    }
    span {
        vertical-align: middle;
        margin-left: 15px;
    }
}


.icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    /*    background-size: 68%;*/
    background-size: 80%;
    //    border-radius: 50%;
    vertical-align: middle;
}


[data-category="booksList"]  {
    background-image: url(../images/icons8-Book%20Shelf-64.png);
}


[data-category="moviesList"]  {
    background-image: url(../images/icons8-Movie%20Projector-64.png);
}


[data-category="personalTasks"]  {
    background-image: url(../images/icons8-Home-64.png);
}


[data-category="workTasks"]  {
    background-image: url(../images/icons8-Briefcase-64.png);
}


[data-category="ideasList"]  {
    background-image: url(../images/icons8-Idea-64.png);
}


[data-category="groceriesList"]  {
    background-image: url(../images/icons8-Shopping%20Cart-64.png);
}


//[data-category="plus"]  {
//    background-image: url(../images/icons8-Plus%20Math-64.png);
//}


[data-category="star"]  {
    background-image: url(../images/icons8-Star-50.png);
}



// do wywalenia??????????????
.clicked {
    opacity: 1;
    background-color: aqua;
}