@media screen and (max-width: 1210px) {
    /*  body {
    font-size: 13px;
}*/

   /* #burgerMenuIcon {
        background: url(../images/icons8-Menu%20Filled-50.png) no-repeat;
        background-size: contain;
        float: left;
        height: 25px;
        width: 25px;
        //        margin-top: 20px;
        position: absolute;
        top: 84px;
        right: 13px;
    }
*/

    header {
        //        height: 
        p {
//            display: none;
        }

    }

    
    form {
        width: 30%;
    }


    aside {
        width: 28%;
//        position: static;
//        margin: 0 auto;
//        display: none;
        li {
//            padding-left: 30px;
        }
    }

   /* aside.open {
        display: block;
    }*/



    .listsBox {
        width: 35%;
    }
}


